// TODO Move to theme.less
// https://coolors.co/46b1c9-84c0c6-9fb7b9-bcc1ba-f2e2d2
// MAXIMUM BLUE
@color1: rgba(70, 177, 201, 1);
// DARK BLUE SKY
@color2: rgba(132, 192, 198, 1);
// CAMBRIDGE BLUE
@color3: rgba(159, 183, 185, 1);
// GRAY (X11 GRAY)
@color4: rgba(188, 193, 186, 1);
// CHAMPANGE PINK
@color5: rgba(242, 226, 210, 1);


@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
/*@font: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;*/
@font: "Lato", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

/** { font-family: @font; font-size: 20px; }*/
* { padding: 0; margin: 0; box-sizing: border-box; }

html {
    font-size: 13px;
}
body {
    font-family: @font;
    background: #F9FAFB;
    color: #495057;
    font-size: 13px;
    font-weight: 300;
}

.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }
.pad { padding: 10px; }

.horizontal { .flex; .flex-row; }
.vertical { .flex; .flex-col; }
.grow { flex-grow: 1; }
.stick-corners { justify-content: space-between; }

.rows { .flex-row; .pad; }
.row { .pad; }
.columns { .flex-col; .pad; }
.column { .pad; }

/*.spinner { width: 200px; height: 200px; background-color: red; }*/


.scene-dashboard {
    .vertical;
    background: #f9f9fc;
    color: #646c9a;

    .header {
        background: #fff;
        /*height: 80px;*/

        .menu {
            padding: 25px;

            .item {
                margin: 5px;
                transition: all .3s ease;
                color: #6c7293;
                font-weight: 500;

                &:hover {
                    background-color: rgba(44,119,244,.05);
                    color: #2c77f4;
                }
            }
        }
    }
    .body {
        .grow;
    }
}
