// TODO Move to theme.less
// https://coolors.co/46b1c9-84c0c6-9fb7b9-bcc1ba-f2e2d2
// MAXIMUM BLUE
@color1: rgba(70, 177, 201, 1);
// DARK BLUE SKY
@color2: rgba(132, 192, 198, 1);
// CAMBRIDGE BLUE
@color3: rgba(159, 183, 185, 1);
// GRAY (X11 GRAY)
@color4: rgba(188, 193, 186, 1);
// CHAMPANGE PINK
@color5: rgba(242, 226, 210, 1);


@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
/*@font: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;*/
@font: "Lato", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

/** { font-family: @font; font-size: 20px; }*/
* { padding: 0; margin: 0; box-sizing: border-box; }

.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }
.pad { padding: 10px; }

.fill { height: 100%; width: 100%; }
.horizontal { .flex; .flex-row; }
.vertical { .flex; .flex-col; }
.grow { flex-grow: 1; }
.stretch { align-items: stretch; }
.stick-corners { justify-content: space-between; }

.rows { .flex-row; .pad; }
.row { .pad; }
.columns { .flex-col; .pad; }
.column { .pad; }

html {
    .fill;
    font-size: 16px;
}
body {
    .fill;
    font-family: @font;
    background: #F9FAFB;
    color: #495057;
    font-size: 16px;
    font-weight: 300;
}

ul {
    list-style: none;
}

/*.spinner { width: 200px; height: 200px; background-color: red; }*/


.dashboard {
    .fill;
    .horizontal;
    background: #f9f9fc;
    color: #646c9a;

    .sidebar {
        .vertical;
        width: 220px;
        background-color: #1e1e2d;
        color: #fff;

        .header {
            background-color: #1a1a27;
            padding: 20px 30px;
            margin-bottom: 20px;
            .title {
                font-weight: 600;
                text-transform: uppercase;
            }
        }
        .menu {
            .vertical;
            .item {
                cursor:pointer;
                padding: 10px 30px;

                &:hover, &.selected {
                    background-color: #1a1a27;
                }
            }
        }
    }

    .content {
        .vertical;
        .grow;

        .page {
        }
    }

    /*
    .header {
        background: #fff;

        .menu {
            padding: 25px;

            .item {
                margin: 5px;
                transition: all .3s ease;
                color: #6c7293;
                font-weight: 500;

                &:hover {
                    background-color: rgba(44,119,244,.05);
                    color: #2c77f4;
                }
            }
        }
    }
    .body {
        .grow;
    }
    */
}
